/*ページネーション設定
---------------------------------------------------------------------------*/

#actions-sidebar {
    display: flex;
}

li {
    list-style: none;
}

.pagination {
    display: flex;
}

.pagination li {
    margin-right: 10px;
}

.Done {
    background-color: #dcdcdc;
}

.buttonDelete {
    background-color: red;
    color: #fff;
}
